#collapse #top1 {
    background: black;
    padding-left: 200px;
    color: white;
    padding-top: 10px;
}

#collapse #top2 {
    background: black;
    color: white;
    padding-top: 10px;
}

#top2 a {
    display: flex;
    color: white;
}

#nav #nav1 {
    padding-left: 200px;
    background: black;
    color: white;
    padding-top: 10px;
}

#nav #nav2 {
    padding-left: 200px;
    padding-right: 200px;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#nav2 button {
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid snow;
    background-color: black;
}

#nav2 button i {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: white;
}

.grid h3 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: gray;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid p {
    padding: 10px;
}

.grid button {
    background: white;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 44px;
}

#first {
    text-align: right;
    width: 20%;
}

#head1 {
    padding: 100px;
}

#main1 {
    padding-left: 250px;
    padding-right: 250px;
}

#bottom {
    padding: 15px;
}

#block {
    padding: 0;
    margin: 20px;
    box-shadow: 0px 1px 2px grey;
    border-radius: 5px;
}

#block2 {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    #collapse #top1 {
        padding-left: 20px;
    }
    #collapse #top2 {
        padding-bottom: 10px;
        padding-left: 20px;
    }
    #nav {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #nav #nav1 {
        padding-left: 18px;
    }
    #nav #nav2 {
        padding-left: 0px;
        padding-right: 0px;
        padding: 10px;
        text-align: right;
    }
    #head1 {
        padding: 0px;
        padding-top: 20px;
    }
    #main1 {
        padding-left: 0px;
        padding-right: 0px;
    }
    #first {
        padding-left: 0px;
        padding-right: 10px;
        width: 50%;
    }
    #first2 {
        padding-left: 10px;
        padding-right: 0px;
        width: 50%;
    }
}